<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.barpsi" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>BarPSI</name>
    <description>
       Bar til PSI kalkulator
    </description>
    <author email="ola.tveit@lokalstarten.no" href="http://tveit-media.no">
        Tveit Media
    </author>
    <content src="index.html" />
    <access origin="*" />
<Plugin name="newman-eansupplemental" source="npm" />
</widget>
